<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfzc.twitter.infrastructure.dao.mapper.AccountRelMapper">

    <resultMap id="BaseResultMap" type="com.qfzc.twitter.domain.entity.AccountRelEntity">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="wId" column="W_ID" jdbcType="INTEGER"/>
            <result property="tId" column="T_ID" jdbcType="INTEGER"/>
            <result property="tenantId" column="TENANT_ID" jdbcType="VARCHAR"/>
            <result property="revision" column="REVISION" jdbcType="VARCHAR"/>
            <result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR"/>
            <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
            <result property="updatedBy" column="UPDATED_BY" jdbcType="VARCHAR"/>
            <result property="updatedTime" column="UPDATED_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,A_ID,T_ID,
        TENANT_ID,REVISION,CREATED_BY,
        CREATED_TIME,UPDATED_BY,UPDATED_TIME
    </sql>
</mapper>
